[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/toandinhtruong
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/toandinhtruong
	label-Verified = -1..+1 group user/toandinhtruong
	push = group user/toandinhtruong
	read = group user/toandinhtruong
	rebase = group user/toandinhtruong
	removeReviewer = group user/toandinhtruong
	submit = group user/toandinhtruong
[access "refs/heads/*"]
	create = group user/toandinhtruong
	push = +force group user/toandinhtruong
	pushMerge = group user/toandinhtruong
	read = group user/toandinhtruong
[access "refs/tags/*"]
	push = group user/toandinhtruong
	push = +force group user/toandinhtruong
